<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title th:text="#{title.client_list}">Lista de Clientes</title>
</head>
<body>
<h1 th:text="#{title.client_list}">Lista de Clientes</h1>
<a th:href="@{/index}" th:text="#{link.back_to_home}">Voltar</a>
<table>
  <thead>
  <tr>
    <th th:text="#{label.id_cliente}">ID</th>
    <th th:text="#{label.name}">Nome</th>
    <th th:text="#{label.age}">Idade</th>
    <th th:text="#{label.cpf}">CPF</th>
    <th th:text="#{label.email}">E-mail</th>
    <th th:text="#{label.phone}">Celular</th>
    <th th:text="#{label.actions}">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cliente : ${clientes}">
    <td th:text="${cliente.id_cliente}">ID</td>
    <td th:text="${cliente.nome}">Nome</td>
    <td th:text="${cliente.idade}">Idade</td>
    <td th:text="${cliente.cpf}">CPF</td>
    <td th:text="${cliente.email}">E-mail</td>
    <td th:text="${cliente.celular}">Celular</td>
    <td>
      <a th:href="@{'/clientes/editar/' + ${cliente.id_cliente}}" th:text="#{action.edit}">Editar</a>
      <a th:href="@{'/clientes/deletar/' + ${cliente.id_cliente}}" th:text="#{action.delete}">Excluir</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/clientes/adicionar}" th:text="#{action.add_new_client}">Adicionar Novo Cliente</a>
</body>
</html>
