<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title th:text="#{title.product_list}">Lista de Produtos</title>
</head>
<body>
<h1 th:text="#{title.product_list}">Lista de Produtos</h1>
<a th:href="@{/index}" th:text="#{link.back_to_home}">Voltar</a>
<table>
  <thead>
  <tr>
    <th th:text="#{label.id}">ID</th>
    <th th:text="#{label.name}">Nome</th>
    <th th:text="#{label.description}">Descrição</th>
    <th th:text="#{label.image}">Imagem</th>
    <th th:text="#{label.price}">Preço</th>
    <th th:text="#{label.quantity}">Quantidade</th>
    <th th:text="#{label.actions}">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="produto : ${produtos}">
    <td th:text="${produto.id}">ID</td>
    <td th:text="${produto.nome}">Nome</td>
    <td th:text="${produto.descricao}">Descrição</td>
    <td><img th:src="${produto.imagem}" alt="Imagem do Produto" style="max-width: 100px; max-height: 100px;"/></td>
    <td th:text="'R$' + ${produto.preco}">Preço</td>
    <td th:text="${produto.quantidade}">Quantidade</td>
    <td>
      <a th:href="@{'/produtos/editar/' + ${produto.id}}" th:text="#{action.edit}">Editar</a>
      <a th:href="@{'/produtos/deletar/' + ${produto.id}}" th:text="#{action.delete}">Excluir</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/produtos/adicionar}" th:text="#{action.add_new_product}">Adicionar Novo Produto</a>
</body>
</html>
