<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title}">Argos AI - Gerenciamento de produtos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="navbar">
    <a href="#" class="logo" th:text="#{navbar.logo}">Argos AI</a>
</header>

<main class="main-content">
    <img src="/css/images/argos.png" alt="List Products" class="logo-img">
    <h1 th:text="#{page.welcome_message}">Bem vindo ao sistema de gerenciamento de Produtos</h1>
    <p th:text="#{page.instruction}">Use o menu abaixo para navegar entre as páginas.</p>

    <div class="cards-container">
        <a href="/produtos/listar" class="card">
            <img src="/css/images/listar.svg" alt="List Products">
            <span th:text="#{menu.list_products}">Produtos</span>
        </a>
        <a href="/clientes/listar" class="card">
            <img src="/css/images/clientes.svg" alt="Add Products">
            <span th:text="#{menu.list_clients}">Clientes</span>
        </a>
        <a href="/recommendationForm" class="card">
            <img src="/css/images/ai.svg" alt="Search Products">
            <span th:text="#{menu.ai_recommendations}">Sugestões com IA</span>
        </a>
        <a href="/contact" class="card">
            <img src="/css/images/contato.svg" alt="Contact Us">
            <span th:text="#{menu.contact_us}">Fale Conosco</span>
        </a>
    </div>
</main>
</body>
</html>
