<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.home}">Argos - Página Inicial</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1 th:text="#{welcome.message}">Bem-vindo à Argos!</h1>
<a th:href="@{/produtos/listar}" th:text="#{link.view_products}">Ver Produtos</a>
<a th:href="@{/clientes/listar}" th:text="#{link.view_clients}">Ver Clientes</a>
<a th:href="@{/contact}" th:text="#{link.contact_page}">Fale Conosco</a>

</body>
</html>
